body {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #00064E;
    margin: 0;
    padding: 0;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 375px;
    max-height: 800px;
    border: 1px solid white;
    border-radius: 12px;
    margin: 3%;
}
.off{
    fill: #00064E;
    stroke: white;
    stroke-width: 1px;
  }

.off:hover{
    fill: blue;
}

.on{
    fill:greenyellow;
    stroke-width: 1px;
  
}

.correct{
    color:greenyellow;
    font-size: 2rem;
    transition: 0.5s;
}

.incorrect{
    color:red;
    font-size: 2rem;
    transition: 0.5s;
    margin: 30px;
    text-align: center;
}

.score{
    font-size: 2.5rem;
    color: white;
}
.message{
    font-size: 1.5rem;
    margin: 20px;
    text-align: center;
}